.a1 {
    min-height: 50px;
    background-color: #e9050b;
}

.one {
    height: 220px;
    width: 360px;
    background-color: white;
    margin-left: 50px;
    box-shadow: 5px 5px 5px #97999e;
}

@media all and (min-height:200px){
    .nav-item:hover .dropdown-menu {
       display:inline;
	  
    }
}    

.dropdown-item:hover{
    color:black !important;
    background-color:pink;
}

/* .navbar ul li{ 
    background-color:teal;
}*/
/*.navbar ul{
    background-color:teal;
}*/
/*.navbar ul li a,.navbar ul a
{
    color: white !important;
}  */

.enquiry {
    height: 48px;
    z-index: 999999999;
    width: 160px;
    position: fixed;
    transform: rotate(90deg);
    top: 300px;
    left: -70px;
    border-radius: 10px;
    animation: blink 1s infinite;
    box-shadow: 1px 1px 1px 5px #d7def0;


}

.admission {
    height: 48px;
    width: 160px;
    z-index: 99999999;
    position: fixed;
    transform: rotate(90deg);
    top: 470px;
    left: -70px;
    border-radius: 10px;
    animation: blink 1s infinite;
    box-shadow: 1px 1px 1px 5px #d7def0;

}


.hi {
    height: 60px;
    width: 60px;
    position: fixed;
    top: 550px;
    border-radius: 50%;
    border: 4px solid rgba(255, 255, 255, .5);
    box-shadow: 1px 1px 1px 5px #d7def0;
    animation: hi 1s infinite;

}

@keyframes blink {
    0% {
        background: #e9050b;
    }

    100% {
        background-color: #f9be2b;
    }
}

.hi {
    height: 60px;
    width: 60px;
    position: fixed;
    top: 550px;
    z-index: 999999999;
    right: 5px;
    border-radius: 50%;
    border: 4px solid rgba(255, 255, 255, .5);
    box-shadow: 1px 1px 1px 5px #d7def0;
    animation: hi 1s infinite;

}

.msgg {
    height: 3.6em;
    width: 180px;
    font-size: .7em;
    position: fixed;
    background: #d5dcee;
    color: black;
    top: 550px;
    z-index: 999999999;
    right: 50px;
    border-radius: 5px 5px 5px 5px;
    clip-path: polygon(0% 0%, 88% 0, 88% 28%, 100% 46%, 88% 63%, 88% 100%, 0 100%);
    box-shadow: 1px 1px 5px #d7def0;

}

@keyframes hi {
    0% {
        color: white;
        background: #e9050b;
    }

   

    100% {
        color: #e9050b;
        background: #f9be2b;
    }
}

.one1 {
    height: 220px;
    width: 360px;
    background-color: white;
    margin-left: 30px;
    box-shadow: 5px 5px 5px #97999e;
}

.one2 {
    height: 220px;
    width: 360px;
    background-color: white;
    margin-left: 30px;
    box-shadow: 5px 5px 5px #97999e;
}

.on {
    height: 110px;
    width: 360px;
    background-color: white;
}

.on1 {
    height: 110px;
    width: 360px;

}

.one .service .service-logo {
    width: 70px;
    height: 70px;
    background-color: #f3f8ec;
    color: #f3a52e;
    border-radius: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 120px;
    margin-top: 30px;
    font-size: 23px;
    border: 1px dashed red;
}

.one1 .service .service-logo {
    width: 70px;
    height: 70px;
    background-color: #f3f8ec;
    color: #f3a52e;
    border-radius: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 120px;
    margin-top: 30px;
    font-size: 23px;
    border: 1px dashed red;
}

.one2 .service .service-logo {
    width: 70px;
    height: 70px;
    background-color: #f3f8ec;
    color: #f3a52e;
    border-radius: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 120px;
    margin-top: 30px;
    font-size: 23px;
    border: 1px dashed red;
}

.mentor {
    height: 400px;


}

.mentor-space {
    height: 270px;
    width: 257px;
    background-color: pink;
    margin-left: 10px;




}

.mentor-space1 {
    height: 270px;
    width: 257px;
    background-color: pink;
    margin-left: 10px;


}

.mentor-space2 {
    height: 270px;
    width: 257px;
    background-color: pink;
    margin-left: 20px;




}

.mentor-space3 {
    height: 270px;
    width: 257px;
    background-color: pink;
    margin-left: 20px;
}

.my-sec {
    min-height: 300px;
    background-image: url('../images/back.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;


}

.my-sec-inner {
    background-color: rgba(0, 0, 0, 0.5);
    /*opacity:0.5; */
    color: white;
}

.mty {
    height: 50px;
    width: 300px;
}

.mty1 {
    height: 80px;
    width: 400px;
}

.mty2 {
    height: 50px;
    width: 300px;
}

.oneone {
    height: 180px;
    width: 360px;
    background-color: white;
    margin-left: 50px;
    box-shadow: 5px 5px 5px #97999e;
}

.row1 {
    background-image: url(../images/contact-bg.png);
}

.row3 {
    height: 110px;
    background-image: url(../images/college3.jpg);
    background-repeat: no-repeat;
    border: 5px solid white;



}

.row2 {
    background-color: #2baad9;
    height: 40px;
    border-radius: 50%;
}

.row2a {
    background-color: #405e9d;
    height: 40px;
    border-radius: 50%;
}

.row2b {
    background-color: #e44569;
    height: 40px;
    border-radius: 50%;
}

.row2c {
    background-color: #da3640;
    height: 40px;
    border-radius: 50px;
}

.row2d {
    background-color: #017eae;
    height: 40px;
    border-radius: 50%;
}

.flip:hover {
    transition: all 0.8s;
    transition-duration: 2s;
    transform: rotateY(360deg);
}

.img {
    transition: ease 2s;
}

.img:hover {
    transform: scale(1.1);
}

.poly
{
    height:150px;
	width:150px;
	
	clip-path:polygon(0px 0px , 150px 0px , 150px 130px , 90px 130px , 80px 150px , 70px 130px , 0px 130px);
	
    margin:auto;
    background:linear-gradient(#e5e7e7,#abacab);
}
.poll
{
    font-size:50px;
    line-height:120px !important;
}

.poll:hover
{
    transform:rotateY(360deg);
    transition-duration: 1s;
    transition-timing-function: ease-in-out;
    color:yellow;
}
